// COLORS
$color-red: hsl(12, 88%, 59%);
$color-red-light: hsl(13, 100%, 96%);
$color-blue-dark: hsl(228, 39%, 23%);
$color-blue-dark: hsl(233, 12%, 13%);
$color-grey: hsl(227, 12%, 61%);
$color-grey-light: hsl(0, 0%, 98%);
// SCREEN SIZES
$screen-xs: 24em;
$screen-s: 36em;
$screen-m: 48em;
$screen-l: 60em;
$screen-xl: 72em;