@use "../1_abstracts/" as *;
.header {
    position: relative;
    grid-column: content-start / content-end;
    grid-row: 1 / 2;
    padding: 1.5rem 0;
    @include flexbox(row, space-between, center);
    @include responsive($screen-s) {
        padding: 3rem 0;
    }
    &__logo {
        height: 1.5rem;
        img {
            display: block;
            height: 100%;
        }
    }
    &__nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-grey-light;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 2rem rgba($color-blue-dark, 0.25);
        @include flexbox(column);
        padding: 2rem 0;
        pointer-events: none;
        transform: translateY(-1rem);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        @include responsive($screen-l) {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            flex-direction: row;
            padding: 0;
            transform: translate(0);
            opacity: 1;
            pointer-events: all;
            background-color: transparent;
            box-shadow: none;
        }
        &--active {
            transform: translate(0);
            opacity: 1;
            pointer-events: all;
        }
    }
    &__link {
        &:link,
        &:visited {
            font-weight: 700;
            color: $color-blue-dark;
            text-decoration: none;
            transition: color 0.25s ease;
            @include responsive($screen-l) {
                margin: 0 0.5rem;
            }
            @include responsive($screen-xl) {
                margin: 0 1rem;
            }
        }
        &:hover,
        &:focus {
            color: $color-grey;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
            @include responsive($screen-l) {
                margin-bottom: 0;
            }
        }
    }
    &__button {
        display: none;
        @include responsive($screen-l) {
            display: inline-block;
        }
    }
    &__toggle {
        position: relative;
        display: block;
        width: 2rem;
        height: 1.5rem;
        cursor: pointer;
        color: $color-blue-dark;
        @include responsive($screen-l) {
            display: none;
        }
        &:hover {
            color: $color-grey;
        }
        &--active {
            .header__toggle-bar {
                &--1 {
                    top: 50%;
                    transform: translateY(-50%) rotate(135deg);
                }
                &--2 {
                    top: 50%;
                    transform: translateY(-50%) scale(0);
                }
                &--3 {
                    top: 50%;
                    transform: translateY(-50%) rotate(-135deg);
                }
            }
        }
    }
    &__toggle-bar {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 0.25rem;
        background-color: currentColor;
        transition: all 0.25s ease;
        &--1 {
            top: 0;
        }
        &--2 {
            top: 50%;
            transform: translateY(-50%);
        }
        &--3 {
            bottom: 0;
        }
    }
}