@use "../1_abstracts/" as *;
.feature {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: repeat(2, max-content);
    align-items: center;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
    &__number {
        position: relative;
        z-index: 1;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 4rem;
        height: 2.5rem;
        background-color: $color-red;
        border-radius: 1.25rem;
        font-weight: 700;
        color: $color-grey-light;
        text-align: center;
        line-height: 2.5;
    }
    &__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding-left: 5rem;
        line-height: 2.5;
    }
    &__text {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}