*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 400 100%/1 "Be Vietnam", sans-serif;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}